{
  color: black;
  font-size: 18pt;
  font-family: arial;
  border-style: solid;
  border-color: black;
  border-width: 22px;
  background-color:white;
}
body
{
  background-color: white;
}

h1
{
  color: black;

}
